/* 
INDEX

Cooldown Durations
*/

*{
	box-sizing: border-box;
	margin: 0;
	image-rendering: auto;
	text-rendering: optimizeSpeed;
	/*color-rendering: auto;*/
	shape-rendering: optimizeSpeed;
}
body{
	margin: 0;
	background-color: #555;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}
nav{
	display: flex;
	background-color: white;
	height: 2.4vw;	
	align-items: center;
	width: 100%;
}
nav .nav{
	list-style: none;
	display: inline-flex;
	align-items: center;
}

nav .nav.right{
	margin-left: auto;
	padding-right: 3em;
}

#unsummon-btn{
	/*border-radius: 50%;*/
	border: none;
	background-color: #555;
	height: 2.4vw;
	width: 4vw;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

#unsummon-btn img{
	height: 2vw;
	width: 2vw;
}

.gold-leaf,
.waves,
.kills{
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

.score p{
	margin-left: 2.5em;
}

.score #score-count{
	color: #03A9F4;
}

nav .nav.right li{
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

.menu-btn{
	background-color: #CDDC39;
	border: none;
	color: white;
	text-transform: uppercase;
	padding: 2px 5px;
	font-size: 1.2em;
}

.container{
	background-color: white;
}

.interface{
	background-color: white;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	z-index: 1000;
	transition: 1s;
}

#starting-interface h1{
	text-transform: uppercase;
	/*letter-spacing: 0.05em;*/
	font-weight: normal;
	font-size: 10vw;
	text-align: center;
}

#starting-interface h1:hover{
	cursor: pointer;
	color: #03A9F4;
}

#starting-interface h2{
	font-size: 7.5vw;
	font-weight: normal;
	text-align: center;
}

#ending-interface{
	background-color: rgba(0,0,0,0.8);
	top: -100vh;
	display: flex;
}

#ending-interface h1:first-child{
	text-align: center;
	color: #E91E63;
	font-weight: normal;
	font-size: 7.5vw;
}

#ending-interface h1:nth-child(2){
	text-align: center;
	color: #03A9F4;
	font-weight: normal;
	font-size: 5vw;
}

#ending-interface h2{
	font-size: 1em;
	color: white;
	text-align: center;
	font-weight: normal;
	margin: 0.5em;
}

#ending-interface form{
	width: 100%;
}

#leaderboard-form{
	display: none;
}

#ending-interface input[type="text"]{
	border-radius: 4px;
	padding: 16px 6px;
	text-align: center;
	font-size: 1em;
	width: 100%;
	border: 1px solid #DDD;
}

#ending-interface input[type="submit"],
#ending-interface a{
	text-decoration: none;
	border-radius: 4px;
	border: 1px solid #DDD;
	padding: 10px;
	text-transform: uppercase;
	margin: 50px 10px 0 10px;
	background-color: white;
}

#ending-interface .thanks{
	color: white;
	text-align: center;
	font-weight: normal;
}

#ending-interface input[type="submit"]{
	display: block;
	width: 50%;
	margin: 10px auto;
}

#ending-interface .btn-group{
	display: flex;
	justify-content: center;
	align-items: center;
}

#ending-interface .btn-group button{
	margin: 10px;
}
.game-content{
	/*overflow: hidden;*/
	max-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.left-panel{
	/*float: left;*/
	/*height: 95vh;*/
}
.grid{
	/*height: 95vh;*/
	/*float: left;*/
	background-image: url("../images/battleground.png");
	background-size: cover;
}
.grid .row{
	overflow: visible;
	/*overflow-x: hidden;*/
	display: flex;
}
.grid .end-tile{
	width: 2.5vw;
	height: 9.2vw;
	position: relative;
	z-index: -20;
	/*background-color: #41520a;*/
	/*box-shadow: inset 0 0 10vw rgba(0,0,0,0.1);*/
}
.grid .tile{
	width: 8vw;
	height: 9.2vw;
	position: relative;
	/*background-color: #41520a;*/
	/*border: 1px solid white;*/
	box-shadow: inset 0 0 5vw rgba(0,0,0,0.05);
	overflow: visible;
}

.grid .tile:hover{
	box-shadow: inset 0 0 5vw rgba(255,255,255,0.4);
}

.grid .tile:nth-child(2){z-index: 10;}
.grid .tile:nth-child(3){z-index: 9;}
.grid .tile:nth-child(4){z-index: 8;}
.grid .tile:nth-child(5){z-index: 7;}
.grid .tile:nth-child(6){z-index: 6;}
.grid .tile:nth-child(7){z-index: 5;}
.grid .tile:nth-child(8){z-index: 4;}
.grid .tile:nth-child(9){z-index: 3;}
.grid .tile:nth-child(10){z-index: 2;}
.grid .tile:nth-child(11){z-index: 1;}
.grid .tile,
.grid .end-tile{	
	/*padding-bottom: 11.43%;*/
}

.creature-card{
	position: relative;
	width: 17.5vw;
	height: 4.6vw;
	/*background-color: skyblue;*/
}

.unaffordable, .lock, .cooldown{
	position: absolute;
	top: 0;
	left: 0;
	width: 17.5vw;
	height: 4.6vw;
	z-index: 2;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.unaffordable{
	display: none;
	cursor: not-allowed;
	background-color: rgba(233,30,99 ,0.3);
}

.cooldown{
	display: none;
	justify-content: flex-start;
	cursor: wait;
	background-color: rgba(1,87,155 ,0.5);
}

.lock{
	/*display: none;*/
	cursor: not-allowed;
	background-color: rgba(0,0,0,0.5);
}

.lock img{
	position: absolute;
	top: 0.3vw;
	left: 0.3vw;
	height: 2em;
	width: 2em;
}

/*.cooldown span{
	font-size: 3em;
	color: white;
	text-align: left;
	width: 100%;
	text-indent: 0.5em;
}

.cooldown span:after{
	display: inline-block;
	content: "s";
	transform: translate(-50%,0);
}*/

.cooldown-bar{
	width: 100%;
	height: 4.6vw;
	background-color: rgba(255,255,255,0.5);
	margin: 0;
	-webkit-animation: cooldown 10s linear 1;
	-o-animation: cooldown 10s linear 1;
	animation: cooldown 10s linear 1;
}

/*Cooldown Durations*/
.creatures-panel .creature-card:nth-child(1) .cooldown-bar{animation-duration: 4s;}
.creatures-panel .creature-card:nth-child(2) .cooldown-bar{animation-duration: 4s;}
.creatures-panel .creature-card:nth-child(3) .cooldown-bar{animation-duration: 30s;}
.creatures-panel .creature-card:nth-child(4) .cooldown-bar{animation-duration: 4s;}
.creatures-panel .creature-card:nth-child(5) .cooldown-bar{animation-duration: 4s;}
.creatures-panel .creature-card:nth-child(6) .cooldown-bar{animation-duration: 4s;}
.creatures-panel .creature-card:nth-child(7) .cooldown-bar{animation-duration: 4s;}
.creatures-panel .creature-card:nth-child(8) .cooldown-bar{animation-duration: 4s;}
.creatures-panel .creature-card:nth-child(9) .cooldown-bar{animation-duration: 4s;}
.creatures-panel .creature-card:nth-child(10) .cooldown-bar{animation-duration: 4s;}

@keyframes cooldown{
	0%{
		width: 100%;
	}
	100%{
		width: 0;
	}
}

.creature-card button{
	position: absolute;
	border: none;
	background-color: transparent;
	width: 100%;
	height: 4.6vw;
	border-top: 1px solid #DDD;
	overflow: hidden;
	cursor: pointer;
	outline: none!important;
	/*box-shadow: inset 0 0 10px rgba(0,0,0,0.1);*/
}

.creature-card button:hover{
	background-color: #f8f3aa;
}

.creature-card button.selected{
	background-color: #f4db75;
}

.creature-card button img{
	width: 70%;
	transform: translate(-25%,-40%);
	z-index: 1;
}

.creature-card button img.sunflower{
	transform: translate(-25%,-50%);
}

.creature-card button img.spikeweed{
	transform: translate(-25%,-70%) scale(1.5,1.5);	
}

.creature-card .price{
	position: absolute;
	/*color: white;*/
	bottom: 0;
	right: 0;
	padding: 10px;
	font-size: 1.2em;
}

.creature-card .price img{
	width: 1.5em;
	height: 1.5em;
}

.row-container{
	float: left;
	position: relative;
}

.monster-spawners{
	float: left;
}

.monster-spawners .spawner{
	width: 0vw;
	height: 9.2vw;
}

.flex{
	display: flex;
}

.projectile{
	height: 9.2vw;
	width: 8vw;
	position: absolute;

}

.price{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	vertical-align: middle;
}

.price .icon{
	margin-left: 0.1em;
	height: 1.2em;
	transform: translate(0,-5%);
}

.spawn-area{
	position: absolute;
	top: 0;
	left: 0;
}

#creature-container,
#monster-container,
#projectile-container{
	position: relative;
	padding-left: 2.5vw;
	width: 82.5vw;
	height: 46vw;
	overflow: hidden;
}

#menu{
	background-color: rgba(0,0,0,0.9);
	position: absolute;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: 100;
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
}

#menu .panel{
	background-color: white;
	padding: 1em;
	border-radius: 4px;
}

#menu h1{
	text-align: center;
	font-size: 4em;
}

#menu button{
	display: block;
	width: 100%;
	background-color: #ddd;
	border: none;
	margin-top: 0.5em;
}
