@font-face{
    font-family: OswaldLight;
    src: url("fonts/Oswald-Light.ttf");
}

body > .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 90vh;
}

.content{
    transform: scale(1.2,1.2);
}

.creature-logo{
    display: block;
    margin: auto;
    width: 15vw;
    height: 15vw;
}

.title{
    text-align: center;
    font-size: 2.5em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin: 0;
}

.tagline{
    font-family: OswaldLight;
    letter-spacing: 0.025em;
    font-size: 1.25em;
    /*font-style: italic;*/
    text-align: center;
    margin: 0 0 1em 0;
}

/*.button-group{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}*/

.button-group > a{
    border: 1px solid #DDD;
    border-radius: 4px;
    background-color: white;
    padding: 6px 16px;
    text-decoration: none;
}

.button-group > a:hover{
    cursor: pointer;
    background-color: #DDD;
}

.creature{
    width: 13vw;
    height: 15vw;
    /*position: absolute;*/
    margin: auto;
    overflow: visible;
    transform: scale(1.3,1.3);
    transform-origin: 50% 15vw;
}
.creature .body{
    position: absolute;
    width: 100%;
    display: block;
}
.creature img,
.monster img,
.projectile img{
    position: absolute;
    width: 100%;
    top: 0%;
    left: 0%;
}
.creature .body{
    -webkit-animation: bouncy 1s ease infinite alternate;
    -o-animation: bouncy 1s ease infinite alternate;
    animation: bouncy 1s ease infinite alternate;
    transform-origin: 50% 15vw;
}

.creature .left-ear img,
.creature .right-ear img{
    -webkit-animation: move_ear 1s ease infinite alternate;
    -o-animation: move_ear 1s ease infinite alternate;
    animation: move_ear 1s ease infinite alternate;
    transform-origin: 33% 40%;
}

.creature .right-ear img{
    transform-origin: 68% 40%;
}

.creature .eyes img,
.monster .eyes img{
    -webkit-animation: blink 3s ease infinite;
    -o-animation: blink 3s ease infinite;
    animation: blink 3s ease infinite;
    transform-origin: 60% 54%;
}

.creature.sunflower .body,
.creature.spike .body{
    -webkit-animation: calm 3s ease infinite alternate;
    -o-animation: calm 3s ease infinite alternate;
    animation: calm 3s ease infinite alternate;
}

.creature .left-ear img,
.creature .right-ear img{
    -webkit-animation: move_ear 3s ease infinite alternate;
    -o-animation: move_ear 3s ease infinite alternate;
    animation: move_ear 3s ease infinite alternate;
}
@keyframes bouncy{
    0%{
        transform: scale(1,0.9) skewX(-3deg);
    }
    50%{
        transform: scale(1,1) skewX(0deg);
    }
    100%{
        transform: scale(1,0.9) skewX(2.5deg);
    }
}
@keyframes move_ear{
    0%{
        transform: scale(1,1.1) rotate(-2.5deg);
    }
    50%{
        transform: scale(1,1) rotate(0deg);
    }
    100%{
        transform: scale(1,1.1) rotate(2.5deg);
    }
}

@keyframes blink{
    0%{
        transform: scale(1,1) translate(0,0);
    }
    94%{
        transform: scale(1,1) translate(0,0);
    }
    97%{
        transform: scale(1,0.1) translate(0,5%);
    }
    100%{
        transform: scale(1,1) translate(0,0);
    }
}