@font-face{
    font-family: OswaldLight;
    src: url("fonts/Oswald-Light.ttf");
}

body > .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 90vh;
}

.content{
    transform: scale(1.2,1.2);
}

.creature-logo{
    display: block;
    margin: auto;
    width: 15vw;
    height: 15vw;
}

.title{
    text-align: center;
    font-size: 2.5em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin: 0;
}

.tagline{
    font-family: OswaldLight;
    letter-spacing: 0.025em;
    font-size: 1.25em;
    /*font-style: italic;*/
    text-align: center;
    margin: 0 0 1em 0;
}

/*.button-group{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}*/

.button-group > button{
    border: 1px solid #DDD;
    border-radius: 4px;
    background-color: white;
    padding: 6px 16px;
}

.button-group > button:hover{
    cursor: pointer;
    background-color: #DDD;
}

