.content > h1{
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	font-weight: normal;
}

ul{
	list-style: none;
	padding: 0;
}

.content > ul{
	width: 25vw;
	margin: auto;
}

.content > ul > li{
	padding: 1em;
	border: 1px solid #DDD;
	border-radius: 4px;
	margin-bottom: 0.75em;
	position: relative;
}

.content > ul > li > h2{
	position: absolute;
	left: 15%;
	top: 50%;
	margin: 0;
	font-size: 1.5em;
	color: #444;
	transform: translate(0,-50%);
	font-weight: normal;
	text-transform: capitalize;
}

.content > ul > li > h3{
	position: absolute;
	left: 0.5em;
	top: 50%;
	margin: 0;
	font-size: 1.5em;
	color: #BBB;
	transform: translate(0,-50%);
}

.stats{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translate(0,-50%);
}

/*.stats li:first-child{
	width: 100%;
	font-size: 2em;
}*/

.stats li{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 0.5em;
	font-size: 0.8em;
}


.stats img{
	height: 1.5em;
	width: 1.5em;
}

.score{
	font-size: 1em!important;
	color: #29B6F6;
}