@font-face{
	font-family: Oswald;
	src: url("fonts/Oswald-Regular.ttf");
}

body{
	margin: 0;
}

*{
	font-family: Oswald;
	color: #555;
}

.icon{
	height: 1.5em;
}

nav .icon{
	margin-right: 0.1em;
	margin-left: 1em;
}
#controls {
    
}
