@font-face{
	font-family: Oswald;
	src: url("fonts/Oswald-Regular.ttf");
}

body{
	margin: 0;
}

*{
	font-family: Oswald;
	color: #555;
}

.icon{
	height: 1.5em;
}

nav .icon{
	margin-right: 0.1em;
	margin-left: 1em;
}

#controls {
    
}

.back{
	height: 2.5em;
	width: 2.5em;
	margin: 0.25em 1em;
	transition: 0.5s;
}

nav a:hover .back{
	transform: translate(-15%, 0);
}

nav{
	border: 1px solid #DDD;
}
